.navbar {
  background-color: #ebe5e1;
  height: 60px;
  font-size: 1.2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-container {
  background-color: #ebe5e1;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 40px;

  .nav-link {
    background-color: #ebe5e1;
    text-decoration: none;
    padding: 1rem;
    color: #000;
  }
}
